In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('./input/jobs.csv')
for index, row in df.iterrows():
    print(index, row)

0 id                       1
job    Marketing Assistant
Name: 0, dtype: object
1 id            2
job    VP Sales
Name: 1, dtype: object
2 id                      3
job    Biostatistician IV
Name: 2, dtype: object
3 id                             4
job    Account Representative II
Name: 3, dtype: object
4 id                5
job    VP Marketing
Name: 4, dtype: object
5 id                            6
job    Environmental Specialist
Name: 5, dtype: object
6 id                       7
job    Software Consultant
Name: 6, dtype: object
7 id                        8
job    Office Assistant III
Name: 7, dtype: object
8 id                               9
job    Information Systems Manager
Name: 8, dtype: object
9 id                             10
job    Desktop Support Technician
Name: 9, dtype: object
10 id                    11
job    Financial Advisor
Name: 10, dtype: object
11 id                             12
job    Computer Systems Analyst I
Name: 11, dtype: object
12 id                           13
job    Automation Specialist IV
Name: 12, dtype: object
13 id                       14
job    Help Desk Technician
Name: 13, dtype: object
14 id                      15
job    Office Assistant II
Name: 14, dtype: object
15 id                     16
job    VP Quality Control
Name: 15, dtype: object
16 id                      17
job    Office Assistant IV
Name: 16, dtype: object
17 id                    18
job    Financial Analyst
Name: 17, dtype: object
18 id                      19
job    Electrical Engineer
Name: 18, dtype: object
19 id                    20
job    Chemical Engineer
Name: 19, dtype: object
20 id                21
job    Social Worker
Name: 20, dtype: object
21 id                        22
job    VP Product Management
Name: 21, dtype: object
22 id                         23
job    Administrative Officer
Name: 22, dtype: object
23 id            24
job    Paralegal
Name: 23, dtype: object
24 id          25
job    Actuary
Name: 24, dtype: object
25 id                           26
job    Database Administrator I
Name: 25, dtype: object
26 id                         27
job    Nuclear Power Engineer
Name: 26, dtype: object
27 id                            28
job    Database Administrator II
Name: 27, dtype: object
28 id                          29
job    GIS Technical Architect
Name: 28, dtype: object
29 id                               30
job    Human Resources Assistant IV
Name: 29, dtype: object
30 id                    31
job    Marketing Manager
Name: 30, dtype: object
31 id                      32
job    Structural Engineer
Name: 31, dtype: object
32 id                  33
job    General Manager
Name: 32, dtype: object
33 id                        34
job    Chief Design Engineer
Name: 33, dtype: object
34 id                          35
job    Senior Quality Engineer
Name: 34, dtype: object
35 id             36
job    Pharmacist
Name: 35, dtype: object
36 id                          37
job    Accounting Assistant IV
Name: 36, dtype: object
37 id                  38
job    Web Developer I
Name: 37, dtype: object
38 id                          39
job    Automation Specialist I
Name: 38, dtype: object
39 id                    40
job    Assistant Manager
Name: 39, dtype: object
40 id                    41
job    Director of Sales
Name: 40, dtype: object
41 id                           42
job    Systems Administrator II
Name: 41, dtype: object
42 id                      43
job    Geological Engineer
Name: 42, dtype: object
43 id                      44
job    Staff Accountant IV
Name: 43, dtype: object
44 id                         45
job    Senior Cost Accountant
Name: 44, dtype: object
45 id               46
job    Geologist IV
Name: 45, dtype: object
46 id                   47
job    Graphic Designer
Name: 46, dtype: object
47 id                    48
job    Account Executive
Name: 47, dtype: object
48 id                  49
job    Staff Scientist
Name: 48, dtype: object
49 id                50
job    VP Accounting
Name: 49, dtype: object
50 id                             51
job    Quality Control Specialist
Name: 50, dtype: object
51 id                               52
job    Structural Analysis Engineer
Name: 51, dtype: object
52 id               53
job    Food Chemist
Name: 52, dtype: object
53 id                           54
job    Systems Administrator IV
Name: 53, dtype: object
54 id                            55
job    Software Test Engineer IV
Name: 54, dtype: object
55 id                     56
job    Analyst Programmer
Name: 55, dtype: object
56 id                      57
job    Clinical Specialist
Name: 56, dtype: object
57 id          58
job    Teacher
Name: 57, dtype: object
58 id                               59
job    Budget/Accounting Analyst IV
Name: 58, dtype: object
59 id            60
job    Recruiter
Name: 59, dtype: object
60 id               61
job    Geologist II
Name: 60, dtype: object
61 id                      62
job    Associate Professor
Name: 61, dtype: object
62 id                      63
job    Executive Secretary
Name: 62, dtype: object
63 id                64
job    Senior Editor
Name: 63, dtype: object
64 id                 65
job    Civil Engineer
Name: 64, dtype: object
65 id                   66
job    Junior Executive
Name: 65, dtype: object
66 id                           67
job    Senior Financial Analyst
Name: 66, dtype: object
67 id                68
job    Programmer IV
Name: 67, dtype: object
68 id                      69
job    Biostatistician III
Name: 68, dtype: object
69 id                   70
job    Dental Hygienist
Name: 69, dtype: object
70 id                  71
job    Statistician II
Name: 70, dtype: object
71 id                 72
job    Web Designer I
Name: 71, dtype: object
72 id                       73
job    Sales Representative
Name: 72, dtype: object
73 id               74
job    Engineer III
Name: 73, dtype: object
74 id                                75
job    Community Outreach Specialist
Name: 74, dtype: object
75 id                                76
job    Budget/Accounting Analyst III
Name: 75, dtype: object
76 id                             77
job    Database Administrator III
Name: 76, dtype: object
77 id                     78
job    Recruiting Manager
Name: 77, dtype: object
78 id                 79
job    Programmer III
Name: 78, dtype: object
79 id                   80
job    Quality Engineer
Name: 79, dtype: object
80 id                  81
job    Health Coach IV
Name: 80, dtype: object
81 id                      82
job    Assistant Professor
Name: 81, dtype: object
82 id                  83
job    Cost Accountant
Name: 82, dtype: object
83 id                      84
job    Software Engineer I
Name: 83, dtype: object
84 id                        85
job    Research Assistant II
Name: 84, dtype: object
85 id                        86
job    Research Assistant IV
Name: 85, dtype: object
86 id               87
job    Accountant I
Name: 86, dtype: object
87 id                88
job    Accountant IV
Name: 87, dtype: object
88 id                            89
job    Account Representative IV
Name: 88, dtype: object
89 id                              90
job    Computer Systems Analyst IV
Name: 89, dtype: object
90 id                   91
job    Product Engineer
Name: 90, dtype: object
91 id                      92
job    Account Coordinator
Name: 91, dtype: object
92 id              93
job    Engineer IV
Name: 92, dtype: object
93 id                        94
job    Software Engineer III
Name: 93, dtype: object
94 id                  95
job    Web Designer II
Name: 94, dtype: object
95 id                   96
job    Health Coach III
Name: 95, dtype: object
96 id                    97
job    Media Manager III
Name: 96, dtype: object
97 id            98
job    Librarian
Name: 97, dtype: object
98 id                     99
job    Environmental Tech
Name: 98, dtype: object
99 id                  100
job    Senior Developer
Name: 99, dtype: object
100 id                          101
job    Software Test Engineer I
Name: 100, dtype: object
101 id                               102
job    Analog Circuit Design manager
Name: 101, dtype: object
102 id                 103
job    Project Manager
Name: 102, dtype: object
103 id                        104
job    Occupational Therapist
Name: 103, dtype: object
104 id                  105
job    Registered Nurse
Name: 104, dtype: object
105 id          106
job    Operator
Name: 105, dtype: object
106 id                 107
job    Legal Assistant
Name: 106, dtype: object
107 id       108
job    Nurse
Name: 107, dtype: object
108 id                  109
job    Technical Writer
Name: 108, dtype: object
109 id                        110
job    Senior Sales Associate
Name: 109, dtype: object
110 id              111
job    Programmer I
Name: 110, dtype: object
111 id                            112
job    Administrative Assistant I
Name: 111, dtype: object
112 id                  113
job    Internal Auditor
Name: 112, dtype: object
113 id           114
job    Professor
Name: 113, dtype: object
114 id                115
job    Tax Accountant
Name: 114, dtype: object
115 id                 116
job    Data Coordiator
Name: 115, dtype: object
116 id                             117
job    Mechanical Systems Engineer
Name: 116, dtype: object
117 id                  118
job    Web Developer II
Name: 117, dtype: object
118 id                       119
job    Programmer Analyst IV
Name: 118, dtype: object
119 id        120
job    Editor
Name: 119, dtype: object
120 id                   121
job    Web Developer III
Name: 120, dtype: object
121 id                         122
job    Assistant Media Planner
Name: 121, dtype: object
122 id                123
job    Statistician I
Name: 122, dtype: object
123 id                            124
job    Physical Therapy Assistant
Name: 123, dtype: object
124 id                    125
job    Nurse Practicioner
Name: 124, dtype: object
125 id                              126
job    Budget/Accounting Analyst II
Name: 125, dtype: object
126 id              127
job    Developer II
Name: 126, dtype: object
127 id                             128
job    Budget/Accounting Analyst I
Name: 127, dtype: object
128 id                         129
job    Accounting Assistant II
Name: 128, dtype: object
129 id                       130
job    Programmer Analyst II
Name: 129, dtype: object
130 id                    131
job    Help Desk Operator
Name: 130, dtype: object
131 id                      132
job    Staff Accountant III
Name: 131, dtype: object
132 id                              133
job    Computer Systems Analyst III
Name: 132, dtype: object
133 id               134
job    Developer III
Name: 133, dtype: object
134 id                         135
job    Human Resources Manager
Name: 134, dtype: object
135 id                                136
job    Payment Adjustment Coordinator
Name: 135, dtype: object
136 id                            137
job    Account Representative III
Name: 136, dtype: object
137 id                  138
job    Web Designer III
Name: 137, dtype: object
138 id                           139
job    Database Administrator IV
Name: 138, dtype: object
139 id                     140
job    Safety Technician I
Name: 139, dtype: object
140 id                 141
job    Web Designer IV
Name: 140, dtype: object
141 id                              142
job    Human Resources Assistant II
Name: 141, dtype: object
142 id                143
job    Health Coach I
Name: 142, dtype: object
143 id                      144
job    Safety Technician II
Name: 143, dtype: object
144 id                    145
job    Biostatistician II
Name: 144, dtype: object
145 id                    146
job    Speech Pathologist
Name: 145, dtype: object
146 id                 147
job    Design Engineer
Name: 146, dtype: object
147 id                               148
job    Human Resources Assistant III
Name: 147, dtype: object
148 id                      149
job    Safety Technician IV
Name: 148, dtype: object
149 id                 150
job    Sales Associate
Name: 149, dtype: object
150 id               151
job    Accountant II
Name: 150, dtype: object
151 id             152
job    Developer I
Name: 151, dtype: object
152 id             153
job    Geologist I
Name: 152, dtype: object
153 id                  154
job    Statistician III
Name: 153, dtype: object
154 id                        155
job    Research Assistant III
Name: 154, dtype: object
155 id              156
job    Developer IV
Name: 155, dtype: object
156 id                    157
job    Research Associate
Name: 156, dtype: object
157 id                        158
job    Accounting Assistant I
Name: 157, dtype: object
158 id                  159
job    Media Manager IV
Name: 158, dtype: object
159 id                  160
job    Media Manager II
Name: 159, dtype: object
160 id                            161
job    Software Test Engineer III
Name: 160, dtype: object
161 id                      162
job    Compensation Analyst
Name: 161, dtype: object
162 id                163
job    Research Nurse
Name: 162, dtype: object
163 id                              164
job    Administrative Assistant III
Name: 163, dtype: object
164 id                             165
job    Computer Systems Analyst II
Name: 164, dtype: object
165 id                166
job    Accountant III
Name: 165, dtype: object
166 id                             167
job    Administrative Assistant II
Name: 166, dtype: object
167 id                     168
job    Staff Accountant II
Name: 167, dtype: object
168 id                          169
job    Accounting Assistant III
Name: 168, dtype: object
169 id                 170
job    Media Manager I
Name: 169, dtype: object
170 id                       171
job    Safety Technician III
Name: 170, dtype: object
171 id            172
job    Engineer I
Name: 171, dtype: object
172 id                      173
job    Research Assistant I
Name: 172, dtype: object
173 id                      174
job    Software Engineer IV
Name: 173, dtype: object
174 id                                      175
job    Business Systems Development Analyst
Name: 174, dtype: object
175 id                   176
job    Biostatistician I
Name: 175, dtype: object
176 id                 177
job    Health Coach II
Name: 176, dtype: object
177 id                    178
job    Staff Accountant I
Name: 177, dtype: object
178 id                      179
job    Software Engineer II
Name: 178, dtype: object
179 id                 180
job    Statistician IV
Name: 179, dtype: object
180 id                      181
job    Programmer Analyst I
Name: 180, dtype: object
181 id                          182
job    Account Representative I
Name: 181, dtype: object
182 id                             183
job    Administrative Assistant IV
Name: 182, dtype: object